.node-red/flows_H110M4-C2H.json
[{"id":"a89e66c6.93e568","type":"tab","label":"classificar-tweets","disabled":false,"info":""},{"id":"a0a7be1e.f61f7","type":"mongodb3","z":"","uri":"mongodb://classificar-tweets-shard-00-00-srtwi.mongodb.net:27017/classificar_tweets","name":"","options":"{\"ssl\" : true, \"replicaSet\" : \"classificar-tweets-shard-0\", \"authSource\" : \"admin\", \"retryWrites\" : true, \"w\" : \"majority\"}","parallelism":"-1"},{"id":"ee283de8.d379c","type":"http response","z":"a89e66c6.93e568","name":"Response","statusCode":"","headers":{},"x":360,"y":440,"wires":[]},{"id":"e435c994.80a308","type":"template","z":"a89e66c6.93e568","name":"Página","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"\n        integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n    <title>Classificar Tweets</title>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"row\">\n            <div class=\"col-md-4\"></div>\n            <div class=\"col-md-4\">\n                <h1>Tweet</h1>  \n                <div class=\"card\">\n                    <div class=\"card-body\">\n                        {{#payload}}\n                        <p>{{tweet_full_text}}</p>\n                        {{/payload}}\n                    </div>\n                </div>\n            </div>\n        </div>\n        <form class=\"form-group\" action=\"/send\" method=\"post\">\n            <div class=\"row\">\n                <div class=\"col-md-6 \">\n                    <h2>Você considera esse Tweet</h2>\n                    <div class=\"form-check\">\n                        <input class=\"form-check-input\" type=\"radio\" name=\"sentimento\" value=\"1\" checked>\n                        <label class=\"form-check-label\" for=\"1\">\n                            Positivo\n                        </label>\n                    </div>\n                    <div class=\"form-check\">\n                        <input class=\"form-check-input\" type=\"radio\" name=\"sentimento\" value=\"0\">\n                        <label class=\"form-check-label\" for=\"0\">\n                            Negativo\n                        </label>\n                    </div>\n                    <div class=\"form-check\">\n                        <input class=\"form-check-input\" type=\"radio\" name=\"sentimento\" value=\"2\">\n                        <label class=\"form-check-label\" for=\"2\">\n                            Neutro\n                        </label>\n                    </div>\n                </div>\n                <div class=\"col-md-6\">\n                    <h2>Selecione todos os assuntos que esse tweet se enquadra</h2>\n                    <div class=\"form-check\">\n                        <input type=\"checkbox\" class=\"form-check-input\" id=\"economia\" name=\"pilares\" value=\"1\">\n                        <label for=\"economia\">Economia</label>\n                    </div>\n                    <div class=\"form-check\">\n                        <input type=\"checkbox\" class=\"form-check-input\" id=\"pessoas\" name=\"pilares\" value=\"2\">\n                        <label for=\"pessoas\">Pessoas</label>\n                    </div>\n                    <div class=\"form-check\">\n                        <input type=\"checkbox\" class=\"form-check-input\" id=\"governo\" name=\"pilares\" value=\"3\">\n                        <label for=\"governo\">Governo</label>\n                    </div>\n\n                    <div class=\"form-check\">\n                        <input type=\"checkbox\" class=\"form-check-input\" id=\"mobilidade\" name=\"pilares\" value=\"4\">\n                        <label for=\"mobilidade\">Mobilidade</label>\n                    </div>\n                    <div class=\"form-check\">\n                        <input type=\"checkbox\" class=\"form-check-input\" id=\"ambiente\" name=\"pilares\" value=\"5\">\n                        <label for=\"ambiente\">Ambiente</label>\n                    </div>\n                    <div class=\"form-check\">\n                        <input type=\"checkbox\" class=\"form-check-input\" id=\"vida\" name=\"pilares\" value=\"6\">\n                        <label for=\"vida\">Modo de vida</label>\n                    </div>\n                </div>\n            </div>\n            <div class=\"row\">\n                <div class=\"col-md-5\">\n                </div>\n                <input class = \"invisivel\" type=\"radio\" name=\"id\" value={{tweet_id}} checked>\n                <div class=\"col-md-4\">\n                    <button class=\"btn btn-primary\" type=\"submit\">Próximo Tweet</button>\n                </div>\n            </div>\n        </form>\n    </div>\n    <style>\n        .invisivel{\n            display:none;\n        }\n    </style>\n</body>\n</html>","output":"str","x":180,"y":440,"wires":[["ee283de8.d379c"]]},{"id":"46f24b19.9cffb4","type":"http in","z":"a89e66c6.93e568","name":"","url":"/classificar-tweets","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["63149962.1a9618"]]},{"id":"274805bf.c1a522","type":"mongodb3 in","z":"a89e66c6.93e568","service":"_ext_","configNode":"a0a7be1e.f61f7","name":"findOne({sentimento:{$exists:false}})","collection":"tweets","operation":"","x":280,"y":240,"wires":[["1c061e81.dc75c1"]]},{"id":"63149962.1a9618","type":"function","z":"a89e66c6.93e568","name":"Monta Consulta","func":"msg.operation = 'findOne';\nmsg.payload= [{sentimento:{$exists:false}}]\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":158,"wires":[["274805bf.c1a522"]]},{"id":"1c061e81.dc75c1","type":"function","z":"a89e66c6.93e568","name":"guarda o id","func":"msg.tweet_id = msg.payload.id;\nmsg.tweet_full_text = msg.payload.full_text;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":340,"wires":[["e435c994.80a308"]]},{"id":"fd4549b4.a1e7a8","type":"http in","z":"a89e66c6.93e568","name":"","url":"/send","method":"post","upload":false,"swaggerDoc":"","x":510,"y":440,"wires":[["8ab12b1a.9c6a6"]]},{"id":"9da19084.09e4b8","type":"function","z":"a89e66c6.93e568","name":"Monta udate","func":"console.log (msg.payload.id);\nmsg.operation = 'updateOne';\nmsg.payload = [{id_str: msg.payload.id},{$set:{sentimento:parseInt(msg.payload.sentimento),pilares:msg.payload.pilares}}];\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["46eb9bdf.c05de4"]]},{"id":"8ab12b1a.9c6a6","type":"switch","z":"a89e66c6.93e568","name":"","property":"payload.sentimento","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":340,"wires":[["acb1c38f.757958"],["aabf80fc.d54688"]]},{"id":"acb1c38f.757958","type":"switch","z":"a89e66c6.93e568","name":"","property":"payload.pilares","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":280,"wires":[["9da19084.09e4b8"],["aabf80fc.d54688"]]},{"id":"aabf80fc.d54688","type":"function","z":"a89e66c6.93e568","name":"Erro","func":"console.log(\"Erro, o caboclo não preencheu algum campo...\");\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[[]]},{"id":"46eb9bdf.c05de4","type":"mongodb3 in","z":"a89e66c6.93e568","service":"_ext_","configNode":"a0a7be1e.f61f7","name":"update","collection":"tweets","operation":"","x":610,"y":60,"wires":[["63149962.1a9618"]]}]